
/*sprinoff css*/
.sprinoff input{
                text-align: center !important;
            }
.sprinoff .input-group {
    width: 130px !important;
    margin: 0 auto;
}
.sprinoff .input-group .input-group-addon,
.sprinoff .input-group .plussprinoff,
.sprinoff .input-group .minusprinoff {
    padding-top: 0px;
    cursor: pointer;
}
.sprinoff .input-group .form-group {
    margin-top: 0px !important;
    border: 1px #ccc solid;
    height: 30px;
    padding-top: 0px !important;
}
.sprinoff .input-group .form-group .form-control {
    height: 30px;
    padding-top: 0px;
    padding-left: 5px;
    text-align: center;
    font-weight: 600;
    padding-right: 5px;
}
#event_table {
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.cart_tbl{
    background: none !important;
    border: none !important;
}
.cart_tbl td,th 
{
  text-align: center;
  border: none !important;
  padding: 0px;
   
}
table {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td,
th {
	padding: 3px !important;
	border: 1px solid #e0e9e1;
	text-align: center;
	font-size: small;
	font-weight: normal;
}

/*evnt-tickets ends here*/